@font-face {
  font-family: 'icon';
  src:  url('../fonts/icon.eot?tgnnd5');
  src:  url('../fonts/icon.eot?tgnnd5#iefix') format('embedded-opentype'),
    url('../fonts/icon.ttf?tgnnd5') format('truetype'),
    url('../fonts/icon.woff?tgnnd5') format('woff'),
    url('../fonts/icon.svg?tgnnd5#icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon', 'Open Sans' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  padding-right: 4px;
}

.icon-wechat:before {
  content: "\e900";
}
.icon-telegram:before {
  content: "\e901";
}
.icon-location:before {
  content: "\e902";
}
.icon-qq:before {
  content: "\e903";
}
.icon-steam:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-tag:before {
  content: "\e906";
}
.icon-birthday:before {
  content: "\e907";
}
.icon-discord:before {
  content: "\e908";
}
.icon-moe:before {
  content: "\e909";
}
.icon-netease:before {
  content: "\e90a";
}
.icon-music:before {
  content: "\e90b";
}
.icon-mail:before {
  content: "\e945";
}
.icon-bilibili:before {
  content: "\e95b";
}
.icon-github:before {
  content: "\eab0";
}
